{%- for interface_name, interface in interfaces.items() %}
set / interface {{ interface_name }} admin-state {{ interface.admin_state }}
{%- if interface.ipv4 %}
set / interface {{ interface_name }} subinterface 0 ipv4 admin-state {{ interface.ipv4.admin_state }}
set / interface {{ interface_name }} subinterface 0 ipv4 address {{ interface.ipv4.address }}
{%- endif %}
{%- endfor %}

{%- for network_instance_name, network_instance in network_instances.items() %}
{%- for interface in network_instance.interfaces %}
set / network-instance {{ network_instance_name }} interface {{ interface }}
{%- endfor %}
{%- endfor %}
